* {
    margin: 0;

}

.steps-two  {
    width: 100%;
    height: 100vh;
    background: linear-gradient(157.67deg, #FFFFFF 19.87%, #ECDEFE 80.31%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector-steps-two {
    height: 100vh;
}

.steps-two-coluns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.steps-two-coluns4{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}

.steps-two-coluns5{
    display: flex;
    flex-direction: column;
}

.steps-two-coluns p {
   
    color: #5A3D8A;
    
    font-family: "SF-Semibold";
  margin-top: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.03em;
}

@media (max-width: 880px) {
    .steps-two-coluns4{
        margin-right: 200px;
    }
}

@media (max-width: 580px) {
    .steps-two  {
        height: 130vh;
    }
    
    .steps-two-coluns {
        flex-direction: column;
    }

    .ant-col {
        margin-bottom: 50px;
    }
    
    .steps-two-coluns4{
        margin-right: 0;
        margin-bottom: 50px;
    }
    
    .steps-two-coluns5{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 580px) {
    .steps-two  {
        height: auto;
    }
    
    .steps-two-coluns {
        flex-direction: column;
    }

    .ant-col {
        margin-bottom: 50px;
    }
    
    .steps-two-coluns4{
        margin-right: 0;
        margin-bottom: 50px;
    }
    
    .steps-two-coluns5{
        display: flex;
        flex-direction: column;
    }

}

