.preview-youtube {
    height: 100vh;
    background: linear-gradient(157.67deg, #FFFFFF 19.87%, #ECDEFE 80.31%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-preview-youtube {
    margin-right: 80px;
}

.youtube-iframe {
    border-radius: 10px;
}

.content-preview h2 {
    color: #4C248E;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5px;
}

.content-preview h3 {
    color: #365F82;
    font-weight: 400;
    font-size: 1.875rem;
    margin-bottom: 5px;
}

.content-preview p {
    font-size: 1.5625rem;
    font-weight: 300;
    line-height: 2.9rem;
    color: #5A3D8A;
    max-width: 600px;
}

.button-preview-youtube {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #4C248E;
    color: white;
    border-radius: 50px;
    width: 240px;
    height: 60px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .preview-youtube {
        height: 100vh;
        flex-direction: column;
    }

    .youtube-iframe {
        height: 150px;
        width: 265px;
        border-radius: 10px;
    }
    
    .img-preview-youtube {
        margin-right: 0;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-preview h2 {
        font-size: 2.5rem;
        max-width: 300px;
        text-align: initial;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .content-preview h3 {
        text-align: initial;
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    
    .content-preview p {
        font-size: 1.4rem;
        line-height: 2.0rem;
        max-width: 300px;
    }
    
    .button-preview-youtube {
        font-size: 1.4rem;
        width: 140px;
        height: 40px;
    }
}