h2,
h3,
h4 {
  font-family: "SF-Semibold";
}

.dna-paternity {
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(157.67deg, #ffffff 19.87%, #ecdefe 80.31%);
  align-items: flex-end;
}

.content-dna-paternity {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.images-dna-paternity {
  display: flex;
}

.images-dna-paternity img {
  margin-right: 10px;
}

.content-dna-paternity h2,
h4 {
  font-family: "SF-Semibold";
  font-size: 4rem;
  text-align: center;
  line-height: 2.4rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.05em;
}

.content-dna-paternity h4 {
  font-family: "SF-Semibold";
  color: #365f82;
}

.content-dna-paternity h3 {
  font-family: "SF-Semibold";
  font-size: 2.5rem;
  text-align: center;
  color: #4c248e;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 300;

  line-height: 30px;
  /* identical to box height */

  letter-spacing: -0.05em;
}

/* .imagens {
  width: 100%;
  height: 100%;
  left: 0;
  background: url('./vetor_pai.svg');
  background-repeat: no-repeat;
  
    background-position: bottom;
    background-size: contain;
}

.imagensFix {
  width: 100%;
  height: 100%;
  right: 0;
  background: url('./vetor_mae.png');
  background-repeat: no-repeat;
  
    background-position: bottom;
    background-size: contain;
} */
.dna-paternity .father {
   

  /* height: auto; */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* max-width: 702px; */
  /* background-size: 100%;
  background-repeat: no-repeat; */
}

.mommy {
   
  /* height: 100%; */
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
 /*  max-width: 702px; */
  /* background-size: 100%;
  background-repeat: no-repeat; */
}

@media (max-width: 1330px) {
  .dna-paternity .father {
    max-width: 560px;
  }
  .mommy {
    max-width: 560px;
  }
}

@media (max-width: 1160px) {
  .dna-paternity .father {
    /* max-width: 460px; */
  }
  .mommy {
      max-width: 498px;
  }
}

@media (max-width: 1034px) {
  .dna-paternity .father {
    width: 400px;
    /* height: 92%; */
  }
.mommy {
    width: 400px;
    /* height: 72%; */
  }
}

@media (max-width: 980px) {
  .content-dna-paternity {
    height: 126vh;
  }
}

@media (max-width: 900px) {
    .content-dna-paternity {
      height: 126vh;
    }
    .dna-paternity .father {
        width: 300px;
        /* height: 92%; */
      }
    .mommy {
        width: 300px;
        /* height: 72%; */
      }
  }

@media (max-width: 752px) {
    .dna-paternity .father {
        width: 280px;
      }
    .mommy {
      width: 280px;
      }
}  

@media (max-width: 728px) {
    .content-dna-paternity {
        height: 146vh;
      }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 580px) {
  .dna-paternity {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    z-index: 100;
  }

  .content-dna-paternity {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: initial;
    margin-bottom: 8%;
  }

  .images-dna-paternity {
    display: flex;
  }

  .images-dna-paternity a{
    z-index: 2;
  }

  .images-dna-paternity img {
    width: 100px;
  }

  .images-dna-paternity img {
    margin-right: 10px;
  }

  .content-dna-paternity h2,
  h4 {
    font-size: 2.0rem;
    line-height: 0px;
    font-weight: 600;
    text-align: center;
letter-spacing: -0.03em;



  }

  .content-dna-paternity h4 {
    margin-bottom: 20px;

    font-style: normal;
font-weight: 500;
font-size: 2.5rem;
line-height: 0px;
/* identical to box height */

text-align: center;
letter-spacing: -0.03em;
  }

  .content-dna-paternity h3 {
    font-size: 1.6rem;
    max-width: 280px;
    margin-bottom: 12px;
    line-height: 19px;
    font-style: normal;
font-weight: 300;


text-align: center;
letter-spacing: -0.05em;
  }

  .background-image {
    display: flex;
  }

  .dna-paternity .father {
    width: 220px;
  }

  .mommy {
    width: 220px;
}
  
}
